body {
  font-family: var(--font-style-main);
  font-size: var(--font-size-body);
  background: var(--neutral100);
  color: var(--primary600);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: var(--container-width);
}

.section {
  margin-top: var( --section-padding-height);
  margin-bottom: var( --section-padding-height);
  height: 100%;
  flex-grow: 1;
}

/* Basic MonkeyScript Tiles */
.mks-tile {
  border-radius: var(--border-radius);
  box-shadow: var(--faded-shadow);
  background: var(--neutral100);
  color: inherit;
  text-decoration: inherit;
  border: none;
  user-select: none;
  cursor: pointer;
}

.mks-tile:hover {
  color: inherit;
  text-decoration: inherit;
  transform: scale(1.02);
}

.mks-tile:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}


/* Flex Helpers */
.flex { display: flex !important; }

.flex_column { flex-direction: column; }

.flex_row { flex-direction: row; }

.flex_center-full { 
  align-items: center;
  justify-content: center;
}

.flex_center-vertical {
  flex-direction: column;
  justify-content: center;
}

.flex_center-horizontal {
  align-items: center;
  flex-direction: column;
}

.flex_space-between {
  align-content: space-between;
  justify-content: space-between;
}
