body {
  font-family: var(--font-style-main);
  font-size: var(--font-size-body);
  background: var(--neutral100);
  color: var(--primary600);
  line-height: 1.7;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: var(--container-width);
}

.section {
  margin-top: var( --section-padding-height);
  margin-bottom: var( --section-padding-height);
  height: 100%;
  flex-grow: 1;
}

/* Basic MonkeyScript Tiles */
.mks-tile {
  border-radius: var(--border-radius);
  box-shadow: var(--faded-shadow);
  background: var(--neutral100);
  color: inherit;
  text-decoration: inherit;
  border: none;
  user-select: none;
  cursor: pointer;
  padding: 10px;
}

.mks-tile:hover {
  color: inherit;
  text-decoration: inherit;
  transform: scale(1.02);
}

.mks-tile:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}


.mks-tile-primary {
  background: var(--accent-blue200);
  border: 1px solid var(--primary200);
  color: var(--primary600);
}

.mks-input {
  margin-bottom: 10px;
}
.mks-input-label {
  margin-bottom: 0;
}

.mks-alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  padding: 30px;
  border-radius: var(--border-radius);
}

.mks-alert.error {
  background: var(--accent-red100);
  border: 1px solid var(--accent-red600);
  color: var(--accent-red600);
}

.mks-alert.info {
  background: var(--accent-blue100);
  border: 1px solid var(--accent-blue600);
  color: var(--accent-blue600);
}

.mks-alert.success {
  background: var(--accent-green100);
  border: 1px solid var(--accent-green600);
  color: var(--accent-green600);
}

.mks-alert .alert-icon {
  font-size: 35px;
  padding-right: 15px;
}

/* Flex Helpers */
.flex { display: flex !important; }

.flex_column { flex-direction: column; }

.flex_row { flex-direction: row; }

.flex_center-full { 
  align-items: center;
  justify-content: center;
}

.flex_center-vertical {
  flex-direction: column;
  justify-content: center;
}

.flex_center-horizontal {
  align-items: center;
  flex-direction: column;
}

.flex_space-between {
  align-content: space-between;
  justify-content: space-between;
}


/* Z-index */
.z-index-10 {
  z-index: 10 !important;
}

.z-index-5 {
  z-index: 5 !important;
}

.z-index-999 {
  z-index: 99999 !important;
}