.header-banner {
  background: url("/img/header_bkg_med.jpg");
  color: var(--neutral100);
  position: relative;
  /* height: var(--header-banner-height); */
}

.header-sm {
  height: var(--header-banner-height-sm);
}

.header-lg {
  height: var(--header-banner-height-lg);
}

.full-header {
  height: calc( var(--header-banner-height-sm) - var(--navbar-height) );
}

.navbar-buffer {
  height: var(--navbar-height);
}

.header-text {
  flex-grow: 1;
  /* z-index: 200 !important; */

}

.header-titles {
  min-height: 100px;
  margin-top: var(--header-titles-upper-static-margin);
}

.header-title {
  color: var(--header-title-color);
  font-size: var(--header-title-size);
  line-height: var(--header-title-line-height);
  font-weight: bold;
}

.header-subtitle {
  text-decoration: inherit;
  color: var(--header-subtitle-color);
  font-size: var(--header-subtitle-size);
  line-height: var(--header-subtitle-line-height);
}

.header-subtitle:hover {
  text-decoration: inherit;
  color: var(--header-subtitle-color);
}


.header-tagline {
  color: var(--header-tagline-color);
  font-size: var(--header-tagline-size);
  line-height: var(--header-tagline-line-height);

}

.header-supplement {
  /* z-index: 200 !important; */

  height: calc(var(--section-padding-height) * 2);
}

.header-bkg-overlay {
  background: var(--primary600);
  position: absolute;
  opacity: 0.85;
  backdrop-filter: blur(var(2px));
  height: 100%;
  /* height: var(--header-banner-height-sm); */
  /* z-index: 5; */
  min-width: 100%;
}