.intro-banner {
  background: var(--primary100);
  /* padding: var(--section-padding-height) 0; */
}

.intro-text {
  flex-grow: 1;
}

.intro-tile-list {
  flex-grow: 1;
  justify-content: space-between;
}

.intro-tile {
  height: var(--intro-tile-height);
  width: var(--intro-tile-width);
  font-size: 20px;
}

.intro-tile-logo {
  height: 20px;
}