/* .lr-modal-content {
  height: var(--lr-modal-height);
  width: var(--lr-modal-width);
}

.lr-modal-body {
  
  height: 100%;
  width: 100%;
}

.lr-login-page {
  width: 90%;
}

.lr-form {
  height: 100%;
  width: 100%;
}

.mks-input-label {
  line-height: 1;
  margin-bottom: 0;
}

.mks-input {
  height: 40px;
  width: 100%;
  padding: 5px;
}

.lr-close-btn {
  position: absolute;
  color: var(--accent-red600);
} */

.modal-content {
  background: var(--neutral100);
}



.lr-password-container {
  align-items: flex-end;
}