.script-tile {
  height: var(--script-tile-height);
  max-width: var(--script-tile-width);
  width: var(--script-tile-width);
  padding: 0;
  background: var(--script-tile-background);
}

.script-tile-header {
  flex-basis: var(--script-tile-header-height);
  max-height: var(--script-tile-header-height);
  background: var(--script-tile-header-background);
  color: var(--script-tile-header-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 100%;
  padding: var(--script-tile-padding) calc(var(--script-tile-padding) * 2);

}

.script-tile-header-primary {
  background: var(--script-tile-header-background-primary);
}

.script-title {
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.script-tile-body {
  flex: 1;
  padding: var(--script-tile-padding) calc(var(--script-tile-padding) * 2);
  overflow: hidden;
  text-overflow: ellipsis;

}

.script-tile-footer {
  flex-basis: var(--script-tile-footer-height);
  text-align: right;
  padding: 0 calc(var(--script-tile-padding) * 2);

}