.search-bar {
  /* height: var(--search-bar-height); */
  /* margin-top: var(--search-bar-margin); */
  width: 100%;
  overflow: hidden;
}

.search-component {
  background-color: var(--search-bar-color);
  border: 0;
  color: var(--primary600);
  display: inline-block;
  margin: 0px;
  padding: 6px;
  outline: none;
}

.search-bar-mks {
  width: calc(100% - (var(--search-bar-button-width)*2) );
  border-radius: 0;
}

.search-icon {
  width: var(--search-bar-button-width);
  text-align: center;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.search-submit-btn {
  width: var(--search-bar-button-width);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}